/* ---- particles.js container ---- */
body{background: cornflowerblue;}
		#logo{margin: 0 auto; text-align: center; margin-top:400px; margin-left: 630px;position: absolute;}
/* #particles-js{
  width: 100%;
  
  background-image: url('');
  background-position: 50% 50%;
  background-repeat: no-repeat;
}  */