/* ---- particles.js container ---- */
body{
background: #303030;
}
.coming_soon{
  font-size: 25px;
  font-family: cursive;
  position: absolute;
  color: #6673AA;
  top: 10%;
  left: 25%;

}
